<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <script is:inline>
        (function() {
            var lang = navigator.language || navigator.userLanguage;
            var target = '/es/';
            if (lang && lang.startsWith('en')) {
                target = '/en/';
            }
            window.location.replace(target);
        })();
    </script>
    <noscript>
        <meta http-equiv="refresh" content="0;url=/es/" />
    </noscript>
</head>
<body>
</body>
</html>
