---
import { getLangFromUrl, useTranslations, getLocalizedPath } from '../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="bg-blue-900/5 dark:bg-blue-900/20 flex flex-col items-center gap-8 px-5 py-16 sm:gap-10"
    >
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">
          {t('cta.title')}
        </h2>
        <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-2xl text-lg">
          {t('cta.description')}
        </p>
      </div>
      <a
        href={getLocalizedPath('/contact', lang)}
        class="bg-blue-900 dark:bg-blue-800 hover:bg-blue-800 dark:hover:bg-blue-700 focus-visible:outline-blue-900 dark:focus-visible:outline-blue-800 dark:text-white inline-flex items-center justify-center border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        {t('cta.button')}
      </a>
    </div>
  </div>
</section>
