<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Siéntete bien, disfruta de la comida
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            My objetivo es entenderte y realizar un plan nutricional <span class="font-bold">adaptado a ti</span> para que mejores tu salud y calidad de vida.
          </p>
        </div>
        <a
          href="/contact"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          ¡Empezamos!
        </a>
      </div>
      <img
        class="md:h-1/3 md:max-h-96 rounded-3xl  object-cover object-center sm:rounded-4xl"
        
        src="https://images.unsplash.com/photo-1487795924438-a3cb4b7a5556?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80"
        alt="Hero picture"
      />
    </div>
  </div>
</section>
