---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  description="Nuestra política de privacidad te ayudará a entender qué información recopilamos y cómo se utiliza."
  title="Política de privacidad · Alexandra"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Política de Privacidad</h1>
      <p class="text-base">Última actualización: 4 de junio de 2025</p>
    </div>
    <div>
      <p class="mb-4">
        En Alexandra Nutrición, estamos comprometidos con la protección de tu privacidad. Esta Política de Privacidad
        describe cómo recopilamos, utilizamos y protegemos tu información personal cuando utilizas nuestro
        sitio web. Por favor, tómate un momento para leer este documento y entender nuestras
        prácticas.
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Información que Recopilamos</h2>
      <p class="mb-6">
        Podemos recopilar los siguientes tipos de información personal cuando interactúas con nuestro
        sitio web:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Información que proporcionas: Cuando te registras, creas una cuenta o utilizas ciertas funciones, podemos
          solicitar tu nombre, dirección de correo electrónico, datos de contacto y otra información relevante.
        </li>
        <li>
          Datos de uso: Podemos recopilar datos sobre cómo utilizas nuestro sitio web, incluyendo pero
          no limitado a tu dirección IP, tipo de navegador, información del dispositivo, páginas visitadas e
          interacciones con el contenido.
        </li>
        <li>
          Cookies y tecnologías similares: Utilizamos cookies y tecnologías similares para mejorar tu
          experiencia, comprender patrones de uso y mejorar nuestro sitio web.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. Cómo Utilizamos tu Información</h2>
      <p class="mb-4">Podemos utilizar tu información personal para los siguientes propósitos:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Para proporcionar y mejorar nuestro sitio web: Tu información nos ayuda a ofrecer una
          experiencia personalizada y fácil de usar.
        </li>
        <li>
          Comunicación: Podemos utilizar tu dirección de correo electrónico o datos de contacto para enviarte
          actualizaciones importantes, boletines y contenido promocional. Puedes optar por no recibir estas comunicaciones
          en cualquier momento.
        </li>
        <li>
          Análisis: Utilizamos datos agregados y anonimizados para analizar el comportamiento del usuario y mejorar nuestro
          sitio web.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">Contáctanos</h2>
      <p class="mb-4">
        Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, por favor contáctanos en
        contacto@alexandranutri.com.
      </p>
    </div>
  </div>
</Layout>
